spring:
  application:
    name: movietalk

  thymeleaf:
    cache: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/movie
    username: javadb
    password: 12345

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  profiles:
    include: oauth

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 30MB

logging:
  level:
    org:
      hibernate:
        SQL: debug
        orm:
          jdbc:
            bind: trace

com:
  example:
    movietalk:
      upload:
        path: c:\\upload
