<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <div>
        <label for="id">id</label>
        <input type="text" name="id" id="id" />
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">로그인</button>
    </form>
    <ul>
      <li>아이디 : [[${loginDTO?.id}]]</li>
      <li>비밀번호 : [[${loginDTO?.password}]]</li>
    </ul>
    <ul>
      <li>아이디 : [[${login?.id}]]</li>
      <li>비밀번호 : [[${login?.password}]]</li>
    </ul>
  </body>
</html>